<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>boo02</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../../assets/css/original/bootstrap.min.css">
		<!-- font-awesome css -->
		<link rel="stylesheet" href="../../assets/css/original/font-awesome.min.css">
		<!-- style css -->
		<link rel="stylesheet" href="../../assets/css/original/style.css">
		<!-- modernizr js -->
		<link rel="stylesheet" href="../../layui/css/layui.css">
		<style type="text/css">
			.layui-form-label{
				width: 100px;
			}
			.form-box{
				padding-top: 90px;
				padding-bottom: 20px;
				width: 100%;
				background-color: #f8f8f8;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.form-box .form-content{
				width: 50%;
				height: auto;
				background: #FFF;
				padding: 40px 10%;
				position: relative;
			}
			.form-box .form-content .close-btn{
				position: absolute;
				width: auto!important;
				padding: 10px;
				background: #CCCCCC!important;
				color: #444;
				top: 40px;
				right: 10%;
			}
			.form-box .form-content .close-btn:hover{
				width: auto!important;
				padding: 10px;
				background: #CCCCCC!important;
			}
			.form-box .form-content h3{
				width: 100%;
				text-align: center;
				margin-bottom: 40px;
			}
			.form-box .form-content .input-item{
				margin-bottom: 20px;
				display: flex;
			}
			.form-box .form-content .input-item input{
				height: 50px;
				line-height: 50px;
				flex: 1;
			}
			.form-box .form-content .input-item .input-name{
				padding: 0;
				width: 100px;
				height: 50px;
				line-height: 50px;
			}
			.form-box .form-content .input-item img{
				width: 150px;
				height: 150px;
				border-radius: 10px;
				margin-left: 20px;
				object-fit: cover;
			}
			.form-box .form-content button{
				background: #FE4847;
				color: #fff;
				border: 0;
				width: 100%;
			}
			.form-box .form-content button:hover {
			    background: #292929;
			    color: #fff;
			}
			.layui-upload-img{
				width: 100px;
				height: 100px;
				object-fit: cover;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<div class="form-box layui-form" lay-filter="layform">
				<div class="form-control form-content">
					<h3>费用信息填写</h3>
					<div>
						<div class="layui-form-item">
							<label class="layui-form-label">请选择客房类型</label>
							<div class="layui-input-block">
								<select name="interest" lay-filter="kefangleixing">
									<option :value="item" v-for="(item,index) in kefangleixingOptions">{{item}}</option>
								</select>
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">清洁房间</label>
							<div class="layui-input-block">
							  <input v-model="detail.qingjiefangjian" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入清洁房间" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">洗衣服务</label>
							<div class="layui-input-block">
							  <input v-model="detail.xiyifuwu" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入洗衣服务" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">叫醒服务</label>
							<div class="layui-input-block">
							  <input v-model="detail.jiaoxingfuwu" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入叫醒服务" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">加床服务</label>
							<div class="layui-input-block">
							  <input v-model="detail.jiachuangfuwu" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入加床服务" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">送餐服务</label>
							<div class="layui-input-block">
							  <input v-model="detail.songcanfuwu" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入送餐服务" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">保姆服务</label>
							<div class="layui-input-block">
							  <input v-model="detail.baomufuwu" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入保姆服务" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">总费用</label>
							<div class="layui-input-block">
								<input v-model="zongfeiyong" type="text" name="" placeholder="请输入总费用" autocomplete="off" class="layui-input" readonly="readonly">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">用户名</label>
							<div class="layui-input-block">
							  <input v-model="detail.yonghuming" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item">
							<label class="layui-form-label">登记时间</label>
							<div class="layui-input-block">
								<input type="text" name="" placeholder="请输入登记时间" autocomplete="off" class="layui-input" id="dengjishijian">
							</div>
						</div>
						<div class="layui-form-item layui-form-text">
						    <label class="layui-form-label">备注</label>
						    <div class="layui-input-block">
						      <textarea v-model="detail.beizhu" placeholder="请输入备注" class="layui-textarea"></textarea>
						    </div>
						</div>
					</div>
					<button type="button" class="btn btn-default" @click="onConfirmTap">提交</button>
				</div>
			</div>
		</div>
		<!-- jquery latest version -->
		<script src="../../assets/js/relys/jquery-1.12.0.min.js"></script>
		<!-- all js here -->
		<!-- bootstrap js -->
		<script src="../../assets/js/relys/bootstrap.min.js"></script>
		<!-- meanmenu js -->
		<script src="../../assets/js/relys/jquery.meanmenu.js"></script>
		<!-- jquery-ui js -->
		<script src="../../assets/js/relys/jquery-ui.min.js"></script>
		<script src="../../assets/jquery-ui.js"></script>
		
		<!-- vue js -->
		<script src="../../assets/js/vue.min.js"></script>
		<script src="../../assets/js/api/api.js"></script>
		<script src="../../assets/js/api/tplist.js"></script>
		<script src="../../assets/js/api/defaultuser.js"></script>
		<script src="../../assets/js/relys/utils.js"></script>
		<script src="../../assets/js/relys/storage.js"></script>
		<script src="../../layui/layui.js"></script>
		<script src="../../assets/js/validate.js"></script>


		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					crosstable: "",
					crosstableobj: {},
					detail: {
						kefangleixing: "",
						qingjiefangjian: "",
						xiyifuwu: "",
						jiaoxingfuwu: "",
						jiachuangfuwu: "",
						songcanfuwu: "",
						baomufuwu: "",
						zongfeiyong: "",
						yonghuming: "",
						dengjishijian: "",
						beizhu: "",
						ispay: "",
					},
					kefangleixingOptions: [],
				},
				computed: {
				    zongfeiyong: {
				      get: function () {
				        return 0+parseFloat(this.detail.qingjiefangjian)+parseFloat(this.detail.xiyifuwu)+parseFloat(this.detail.jiaoxingfuwu)+parseFloat(this.detail.jiachuangfuwu)+parseFloat(this.detail.songcanfuwu)+parseFloat(this.detail.baomufuwu) || ''
				      }
				    },
				},
				updated() {
					layui.form.render('select','layform');
				},
				async created() {
					var id = getParam('id')
					var tablename = getParam('tablename')
					this.crosstable = tablename
					if(tablename){
						var cross = JSON.parse(localStorage.getItem("crossObj"))
						this.crosstableobj = cross
						for(var key in cross){
							if("kefangleixing" == key){
								this.detail[key] = cross[key]
							}
							if("qingjiefangjian" == key){
								this.detail[key] = cross[key]
							}
							if("xiyifuwu" == key){
								this.detail[key] = cross[key]
							}
							if("jiaoxingfuwu" == key){
								this.detail[key] = cross[key]
							}
							if("jiachuangfuwu" == key){
								this.detail[key] = cross[key]
							}
							if("songcanfuwu" == key){
								this.detail[key] = cross[key]
							}
							if("baomufuwu" == key){
								this.detail[key] = cross[key]
							}
							if("zongfeiyong" == key){
								this.detail[key] = cross[key]
							}
							if("yonghuming" == key){
								this.detail[key] = cross[key]
							}
							if("dengjishijian" == key){
								this.detail[key] = cross[key]
							}
							if("beizhu" == key){
								this.detail[key] = cross[key]
							}
							if("ispay" == key){
								this.detail[key] = cross[key]
							}
						}
																																																																																																																																																											}else if(id){
						await this.getDetail(id, tablename)
					}
					
					// 获取用户信息
					var user = localStorage.getItem("sessionTable")
					session(`${user}`, (data)=>{
						if (data && data.code === 0) {
							var json = data.data;
						}
					})

					getOption("kefangku", "kefangleixing", (data) => {
						if (data && data.code === 0) {
							this.kefangleixingOptions = data.data;
							this.detail.kefangleixing = data.data[0]
							getFollow("kefangku", "kefangleixing", this.detail.kefangleixing, (res) => {
								if(res.code==0){
									if(res.data.qingjiefangjian){
										this.detail.qingjiefangjian = res.data.qingjiefangjian
									}
									if(res.data.xiyifuwu){
										this.detail.xiyifuwu = res.data.xiyifuwu
									}
									if(res.data.jiaoxingfuwu){
										this.detail.jiaoxingfuwu = res.data.jiaoxingfuwu
									}
									if(res.data.jiachuangfuwu){
										this.detail.jiachuangfuwu = res.data.jiachuangfuwu
									}
									if(res.data.songcanfuwu){
										this.detail.songcanfuwu = res.data.songcanfuwu
									}
									if(res.data.baomufuwu){
										this.detail.baomufuwu = res.data.baomufuwu
									}
								}
							})
						}
					}) 
				},
				methods: {
					onPageTap(url) {
						window.location.href = url
					},
					updateTap(tablename, data){
						return new Promise((resolve) => {
							updateFun(tablename, data, (res) => {
								if(res&&res.code==0){
									console.log("更新成功")
									resolve(res)
								}
							})
						})
						
					},
					onConfirmTap(){
						this.detail.zongfeiyong = this.zongfeiyong
					if(!isIntNumer(this.detail.qingjiefangjian)){
						alert(`清洁房间应输入整数`);
						return
					}
					if(!isIntNumer(this.detail.xiyifuwu)){
						alert(`洗衣服务应输入整数`);
						return
					}
					if(!isIntNumer(this.detail.jiaoxingfuwu)){
						alert(`叫醒服务应输入整数`);
						return
					}
					if(!isIntNumer(this.detail.jiachuangfuwu)){
						alert(`加床服务应输入整数`);
						return
					}
					if(!isIntNumer(this.detail.songcanfuwu)){
						alert(`送餐服务应输入整数`);
						return
					}
					if(!isIntNumer(this.detail.baomufuwu)){
						alert(`保姆服务应输入整数`);
						return
					}
					if(!isIntNumer(this.detail.zongfeiyong)){
						alert(`总费用应输入整数`);
						return
					}
						addFun("feiyongxinxi", this.detail, (res) => {
							if(res&&res.code==0){
								alert("提交成功")
								window.history.go(-1);
							}
						})
					},


					getDetail(tablename, id) {
						return new Promise((resolve) => {
						goodsInfo(tablename, id, (res) => {
							this.detail = res.data
							resolve(res)
						})
						})
					}
				}
			})
 			$(function(){


















				layui.use('laydate', function(){
					var laydate = layui.laydate;
					// 日期选择器
					laydate.render({
						elem: '#dengjishijian',
						type: 'date',
						done: function(value, date, endDate){
						    console.log(value); //得到日期生成的值，如：2017-08-18
						    app.detail.dengjishijian = value
						 }
					});
				});






				layui.use(['form','layedit'], function(){
					var form = layui.form,
						layedit = layui.layedit,
						$ = layui.jquery,
						layer = layui.layer;
				        
					form.on('select(kefangleixing)', function(data){
						app.detail.kefangleixing = data.value
							getFollow("kefangku", "kefangleixing", app.detail.kefangleixing, (res) => {
								if(res.code==0){
									if(res.data.qingjiefangjian){
										app.detail.qingjiefangjian = res.data.qingjiefangjian
									}
									if(res.data.xiyifuwu){
										app.detail.xiyifuwu = res.data.xiyifuwu
									}
									if(res.data.jiaoxingfuwu){
										app.detail.jiaoxingfuwu = res.data.jiaoxingfuwu
									}
									if(res.data.jiachuangfuwu){
										app.detail.jiachuangfuwu = res.data.jiachuangfuwu
									}
									if(res.data.songcanfuwu){
										app.detail.songcanfuwu = res.data.songcanfuwu
									}
									if(res.data.baomufuwu){
										app.detail.baomufuwu = res.data.baomufuwu
									}
								}
							})
					});
				});
			});
		</script>
	</body>
</html>
